/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.bubble {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    filter: drop-shadow(5px 5px 2px #adadad);
    text-align: center;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    padding: 5%;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #ffffff;
    top: 50%;
    right: -20px;
    margin-top: -10px;
}

@media (max-width: 650px) {
    .hideBGImageOnMobile 
    {
        background-image: none !important; 
    }

}

@media screen and (min-width: 1301px) {
    .rckEntranceGuardFontSize {
      font-size: 1.3vw;
    }

    .biker-size
    {
      width: 180px;
      --animate-duration: 3s;
    }

    .roadmap-completed-text{
      font-size: 80px;
    }
}

@media screen and (max-width: 1300px) {
    .rckEntranceGuardFontSize {
      font-size: 1.4vw;
    }

    .biker-size
    {
      width: 180px;
      --animate-duration: 3s;
    }

    .roadmap-completed-text{
      font-size: 80px;
    }
}


@media screen and (min-width: 1001px) {
    .rckFontSize {
      font-size: 1.5vw;
    }

    .biker-size
    {
      width: 180px;
      --animate-duration: 3s;
    }

    .roadmap-completed-text{
      font-size: 80px;
    }
}
  
@media screen and (max-width: 1000px) {
    .rckFontSize {
      font-size: 18px;
    }

    .biker-size
    {
      width: 140px;
      --animate-duration: 2s;
    }

    .roadmap-width-reduction{
      max-width: 80%; 
      right: 0; 
      left: 0; 
      margin-right: auto; 
      margin-left: auto;
    }

    .roadmap-completed-text{
      font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    .rckFontSize {
      font-size: 4vw;
    }

    .biker-size
    {
      width: 100px;
      --animate-duration: 2s;
    }

    .roadmap-width-reduction{
      max-width: 80%; 
      right: 0; 
      left: 0; 
      margin-right: auto; 
      margin-left: auto;
    }

    .roadmap-completed-text{
      font-size: 50px;
    }
}

a.translationButton{
  color: rgb(255, 255, 255); 
  padding: 0 10px; 
  font-size: 12px;
}

a.translationButton:hover{
  color: aquamarine !important; 
}

a.translationButtonActive{
  font-weight: bold !important;
  text-decoration: underline !important;
}

.full-width{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: auto;
  margin-top: auto;
  left: 50%;
 }


